[submodule "apriltag"]
	path = apriltag
	url = https://github.com/AprilRobotics/apriltag
[submodule "darknet_ros"]
	path = darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros.git
[submodule "gazebo_ros_link_attacher"]
	path = gazebo_ros_link_attacher
	url = https://github.com/mehditlili/gazebo_ros_link_attacher
[submodule "grobot"]
	path = grobot
	url = https://github.com/nlamprian/grobot
[submodule "apriltag_ros"]
	path = apriltag_ros
	url = https://github.com/pratik-a99/apriltag_ros.git
